
.form-section {
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
}

  input, button {
    width: 30%;
    border: 2px solid black;
    font-size: 18px;
  }

  button {
      margin-left: 30%;
  }

